<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OnlyChats</title>
  <link rel="stylesheet" href="/styles.css"> 
</head>
<body>
  <header>
    <h1>Welcome Back <%= user.username %>!
        <% if (user.in_the_club) {Thanks for being part of the Secret Club!} %>

    
    </h1>
    <br>
    <nav>
      <ul>
        <li> <a href="/newpost">Add Post</a></li>
        <li><a href="/log-out">Log Out</a></li>
      </ul>
    <nav>
      <ul>
        <!-- Add navigation links here -->
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h2>Posts</h2>
      <div class="posts">
        <% posts.forEach(post => { %>
          <div class="post">
            <div class="post-content">
              <h3><%= post.title %></h3>
              <p><%= post.content %></p>
              <a href="/posts/<%= post.id %>">Read more</a>
            </div>
          </div>
        <% }); %>
      </div>
    </section>
  </main>
  <footer>
    <p>&copy; <%= new Date().getFullYear() %> OnlyChats. All rights reserved.</p>
  </footer>
</body>
</html>